body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container, #chat_window > *, #chat_window #message_editor textarea, .post, .post > *, .post header .texts > *, .post section .post-gallery .post-image, .post footer > * {
  display: inline-block;
  width: 100%;
}

body > header {
  height: 40px;
  background-color: #375999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

body main > * {
  display: inline-block;
  float: left;
  padding: 20px;
}

body main nav {
  width: 200px;
  height: calc(100vh - 40px);
  background-color: #EEE;
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
}

body main .feed {
  width: calc(100% - 500px);
  margin: 40px 0 40px 200px;
}

body main .ads {
  width: 200px;
  margin: 40px 0 40px 0;
}

body main .chat {
  width: 100px;
  background-color: #EEE;
  position: fixed;
  right: 0;
  top: 40px;
  bottom: 0;
}

#chat_window {
  display: inline-block;
  width: 280px;
  border: 1px solid #CCC;
  border-radius: 4px 4px 0 0;
  position: absolute;
  bottom: 0;
  right: 120px;
  background-color: #FFF;
  overflow: hidden;
  -webkit-box-shadow: 0 -2px 4px #0007;
          box-shadow: 0 -2px 4px #0007;
}

#chat_window > * {
  float: left;
}

#chat_window header {
  background-color: #DDD;
  color: #333;
  line-height: 20px;
  padding: 5px 10px;
}

#chat_window #messages {
  height: 300px;
  overflow-y: auto;
}

#chat_window #messages .msg-row {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  line-height: 20px;
}

#chat_window #messages .msg-row > * {
  display: inline-block;
  width: auto;
  max-width: 80%;
  padding: 5px 10px;
}

#chat_window #messages .msg-row > * .emoji {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: -4px 4px;
  background-image: url(../img/emoji/smile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#chat_window #messages .msg-row > * .emoji.emoji-smile {
  background-image: url(../img/emoji/smile.png);
}

#chat_window #messages .msg-row .my {
  float: right;
  background-color: #658eda;
  color: #FFF;
  border-radius: 15px 0 0 15px;
}

#chat_window #messages .msg-row .other {
  float: left;
  background-color: #EEE;
  color: #333;
  border-radius: 0 15px 15px 0;
  border: 1px solid #CCC;
}

#chat_window #message_editor {
  border-top: 1px solid #CCC;
}

#chat_window #message_editor textarea {
  height: 80px;
  padding: 10px;
  resize: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
  outline-color: transparent;
}

#chat_window #message_editor .btn-send {
  display: inline-block;
  padding: 5px 10px;
  line-height: 18px;
  font-size: 18px;
  background-color: #375999;
  color: #FFF;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.post {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.post header > * {
  display: inline-block;
  float: left;
}

.post header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #CCC;
}

.post header .texts {
  width: calc(100% - 100px);
  margin: 0 10px 0 20px;
}

.post header .texts .author {
  line-height: 20px;
  margin-bottom: 5px;
}

.post header .texts .date {
  line-height: 15px;
}

.post header .actions {
  width: 30px;
}

.post header .actions i {
  width: 100%;
  line-height: 40px;
  font-size: 20px;
  margin: -10px -10px 0 0;
}

.post section {
  margin: 20px 0;
}

.post section .post-text {
  line-height: 24px;
  font-size: 18px;
}

.post section .post-text .read-more {
  color: #375999;
  margin-left: 5px;
}

.post section .post-text .read-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post section .post-text.big-text {
  font-size: 40px;
  line-height: 50px;
}

.post section .post-text.text-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 240px;
  width: calc(100% + 20px);
  margin: 0 -10px -20px;
  padding: 20px;
}

.post section .post-text.bg-red {
  background: red;
  color: #FFF;
}

.post section .post-gallery {
  width: calc(100% + 20px);
  height: 240px;
  margin: 10px -10px -20px;
  overflow: hidden;
}

.post section .post-gallery .post-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post section .post-gallery .image-more {
  height: calc(100% / 3);
  width: 50%;
  background-color: #0007;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  line-height: 110px;
}

.post section .post-gallery.gallery-2 {
  height: 280px;
}

.post section .post-gallery.gallery-2 .post-image {
  display: inline-block;
  width: 50%;
  float: left;
}

.post section .post-gallery.gallery-3 {
  height: 320px;
}

.post section .post-gallery.gallery-3 .post-image {
  display: inline-block;
  float: left;
  height: 50%;
  width: 50%;
}

.post section .post-gallery.gallery-3 .post-image:first-child {
  width: 100%;
}

.post section .post-gallery.gallery-4 {
  height: 330px;
  position: relative;
}

.post section .post-gallery.gallery-4 .post-image {
  display: inline-block;
  float: left;
  height: calc(100% / 3);
  width: 50%;
}

.post section .post-gallery.gallery-4 .post-image:first-child {
  height: 100%;
}

.post footer > * {
  border-top: 1px solid #CCC;
}
