$mainColor: #375999;

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
    width: 100%;
}

body {
    > header {
        height: 40px;
        background-color: $mainColor;
    }
    main {
        > * {
            display: inline-block;
            float: left;
            padding: 20px;
        }

        nav {
            width: 200px;
            height: calc(100vh - 40px);
            background-color: #EEE;
        }

        .feed {
            width: calc(100% - 500px);
        }

        .ads {
            width: 200px;
        }

        .chat {
            width: 100px;
        }
    }
}

.post {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 4px;

    > * {
        display: inline-block;
        width: 100%;
    }
    header {
        > * {
            display: inline-block;
            float: left;
        }
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #CCC;
        }
        .texts {
            width: calc(100% - 100px);
            margin: 0 10px 0 20px;
            > * {
                display: inline-block;
                width: 100%;
            }
            .author {
                line-height: 20px;
                margin-bottom: 5px;
            }
            .date {
                line-height: 15px;
            }
        }
        .actions {
            width: 30px;
            i {
                width: 100%;
                line-height: 40px;
                font-size: 20px;
                margin: -10px -10px 0 0;
            }
        }
    }
    section {
        margin: 20px 0;

        .post-text {
            line-height: 24px;
            font-size: 18px;
        }
    }
    footer {
        > * {
            display: inline-block;
            width: 100%;
            border-top: 1px solid #CCC;
        }
    }
}